body{
  background-color: #F7F7F7;
  font-family: arial;
}

/* Container for all content */
.container{
  width: 1300px;
  z-index: 2;
  position: relative;
}

/* Popular styles */

.container,
.map,
.tour-dates,
.tile-intro,
.tiles,
.bottom-form {
  margin-left: auto;
  margin-right: auto;
}

.float-left{
  float: left;
}

/* Backgrounds */

.orangebg,
.orangebg-2{
  position: absolute;
  left: 0;
  z-index: 1;
}

.orangebg{
  top: 280px;
}

.orangebg-2{
  top: 1930px;
}

/* Navigation */

.nav .float-left{
  padding-left: 20px;
}

.nav{
  height: 30px;
  color: #FF7500;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  align-items: right;
  margin-left: 65%;
}

/* Intro section */

.top-left-content{
  width: 420px;
  margin-top: 3%;
  margin-left: 5%;
}

.top-right-content{
  width: 800px;
  position: absolute;
  top: 60px;
  left: 40%;
}

.top-left-content h1,
.top-left-content h2{
  margin-top: 0px;
  color: #2B2B2B;
}

.top-left-content h1{
  font-size: 40px;
  line-height: 1em;
  margin-bottom: 8px;
}

.top-left-content h2{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.top-right-content img{
  width: 800px;
}

.top-left-content img{
  width: 50px;
}

/* Styling forms */

.top-left-content input[type=text],
.top-left-content input[type=submit]{
  border-radius: 8px;
}

input[type=text]{
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  margin-bottom: 10px;
  padding-left: 5px;
}

input[type=submit]{
  border: none;
  font-weight: bold;
}

/* First form */

.top-left-content input[type=text],
.top-left-content input[type=submit]{
  height: 25px;
}

.top-left-content .two-column{
  width: 195px;
}

.top-left-content .one-column{
  width: 400px;
}

.top-left-content input[type=submit]{
  width: 410px;
  background-color: #FFD9B8;
}

/* Second form */

.bottom-form input[type=text],
.bottom-form input[type=submit]{
  height: 30px;
}

.bottom-form .two-column{
  width: 420px;
}

.bottom-form .one-column{
  width: 850px;
}

.bottom-form input[type=submit]{
  width: 860px;
  background-color: #FFB16F
}


/* Video styling */

.middle-left-content{
  width: 600px;
  margin-top: 6%;
  margin-left: 5%;
}

#circle1,
#circle2{
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  padding-left: 20px;
}

#circle1{
  margin-top: 20%;
}

/* Video text styling */

.middle-right-content{
  width: 500px;
  position: absolute;
  left: 55%;
  color: white;
}

.middle-right-content h3{
  font-size: 40px;
  line-height: 1em;
  margin-bottom: 8px;
  font-weight: bold;
}

.middle-right-content p{
  font-size: 16px;
}

.middle-left-content img{
  width: 450px;
  position: absolute;
  left: 9%;
  margin-top: 4%;
}

/* Map styling */
.map{
  background-color: #F7F7F7;
  width: 700px;
  position: relative;
  height: 700px;
  margin-top: 40%;
  box-shadow: 0 1px 1px 1px rgb(222, 222, 222);
  border-radius: 7.2px;
}

.map img{
  width: 600px;
}

.map h3{
  text-align: center;
  font-size: 30px;
  padding-top: 3%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.map p{
  margin-left: 15%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2B2B2B;
  margin-top: 0px;
}

.tour-dates{
  text-align: left;
  font-size: 18px;
}

.tour-dates .cta{
  background-color: #FFB16F;
  color: white;
  border-radius: 8px;
  text-align: center;
}

/* Van styling */

.van {
  margin-top: 47px;
  margin-left: 550px;
}

.van img{
  width: 600px;
}

/* Tile intro */

.tile-intro{
  width: 875px;
  position: relative;
  color: white;
}

.tile-intro h3{
  font-size: 30px;
  margin-bottom: 0px;
}

.tile-intro p{
  margin-top: 5px;
}

/* Product tiles */

.tiles{
  position: relative;
  width: 913px;
  margin-top: 3%;
}

.tiles h4{
  margin-bottom: 0px;
  color: #2B2B2B
}

.tiles p{
  margin-top: 5px;
  color: #2B2B2B
}

.tiles .cta{
  color: #FF7500;
  font-weight: bold;
}

.tile{
  width: 190px;
  height: 300px;
  background-color: #f7f7f7;
  margin-left: 2%;
  border-radius: 3%;
  padding-left: 10px;
  padding-right: 10px;
}

.tile img{
  height: 112px;
}

/* Bottom form text*/

.bottom-form{
  width: 875px;
  margin-top: 40%;
  margin-bottom: 5%;
}

.bottom-form h3{
  font-size: 42px;
  margin-bottom: 0px;
  color: #2B2B2B;
}

.bottom-form p{
  margin-top: 5px;
  color: #2B2B2B;
}

/* Reponsive styling */
@media only screen and (min-width: 1800px){
    .orangebg,
    .orangebg-2{
      width: 100%;
    }
 }

/* 1300px is the next one
