body {
  background-color: #F7F7F7;
  font-family: arial;
}

/* Container for all content */
.container {
  width: 1300px;
  z-index: 2;
  position: relative;
}

/* Popular styles */
.container, .map, .tour-dates, .tile-intro, .tiles, .bottom-form {
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

/* Backgrounds */
.orangebg, .orangebg-2 {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}

.orangebg {
  top: 280px;
  width: 100%;
}

.orangebg-2 {
  top: 1930px;
  width: 100%;
}

/* Navigation */
.nav .float-left {
  padding-left: 20px;
}

.nav {
  height: 30px;
  color: #FF7500;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  align-items: right;
  margin-left: 65%;
}

/* Intro section */
.top-left-content {
  width: 420px;
  margin-top: 3%;
  margin-left: 5%;
}

.top-right-content {
  width: 800px;
  position: absolute;
  top: 60px;
  left: 40%;
}

.top-left-content h1, .top-left-content h2 {
  margin-top: 0px;
  color: #2B2B2B;
}

.top-left-content h1 {
  font-size: 40px;
  line-height: 1em;
  margin-bottom: 8px;
}

.top-left-content h2 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.top-right-content img {
  width: 800px;
}

.top-left-content img {
  width: 50px;
}

/* Styling forms */
input[type=text], input[type=submit] {
  border-radius: 8px;
}

input[type=text] {
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  margin-bottom: 10px;
  padding-left: 5px;
}

input[type=submit] {
  border: none;
  font-weight: bold;
}

/* First form */
.top-left-content input[type=text], .top-left-content input[type=submit] {
  height: 25px;
}

.top-left-content .two-column {
  width: 195px;
}

.top-left-content .one-column {
  width: 400px;
}

.top-left-content input[type=submit] {
  width: 410px;
  background-color: #FFD9B8;
}

/* Second form */
.bottom-form input[type=text], .bottom-form input[type=submit] {
  height: 30px;
}

.bottom-form .two-column {
  width: 420px;
}

.bottom-form .one-column {
  width: 850px;
}

.bottom-form input[type=submit] {
  width: 860px;
  background-color: #FFB16F
}

/* Video styling */
.middle-left-content {
  width: 600px;
  margin-top: 6%;
  margin-left: 5%;
}

#circle1, #circle2 {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  padding-left: 20px;
}

#circle1 {
  margin-top: 20%;
}

/* Video text styling */
.middle-right-content {
  width: 500px;
  position: absolute;
  left: 55%;
  color: white;
}

.middle-right-content h3 {
  font-size: 40px;
  line-height: 1em;
  margin-bottom: 8px;
  font-weight: bold;
}

.middle-right-content p {
  font-size: 16px;
}

.middle-left-content img {
  width: 450px;
  position: absolute;
  left: 9%;
  margin-top: 4%;
}

/* Map styling */
.map {
  background-color: #F7F7F7;
  width: 700px;
  position: relative;
  height: 700px;
  margin-top: 40%;
  box-shadow: 0 1px 1px 1px rgb(222, 222, 222);
  border-radius: 7.2px;
}

.map img {
  width: 600px;
}

.map h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 3%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.map p {
  margin-left: 15%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2B2B2B;
  margin-top: 0px;
}

.tour-dates {
  text-align: left;
  font-size: 18px;
}

.tour-dates .middle-column {
  width: 15%;
}

.tour-dates .cta {
  background-color: #FFB16F;
  color: white;
  border-radius: 8px;
  text-align: center;
}

/* Van styling */
.van {
  margin-top: 47px;
  margin-left: 550px;
}

.van img {
  width: 600px;
}

/* Tile intro */
.tile-intro {
  width: 875px;
  position: relative;
  color: white;
}

.tile-intro h3 {
  font-size: 30px;
  margin-bottom: 0px;
}

.tile-intro p {
  margin-top: 5px;
}

/* Product tiles */
.tiles {
  position: relative;
  width: 913px;
  margin-top: 3%;
}

.tiles h4 {
  margin-bottom: 0px;
  color: #2B2B2B
}

.tiles p {
  margin-top: 5px;
  color: #2B2B2B
}

.tiles .cta {
  color: #FF7500;
  font-weight: bold;
}

.tile {
  width: 190px;
  height: 300px;
  background-color: #f7f7f7;
  margin-left: 2%;
  border-radius: 3%;
  padding-left: 10px;
  padding-right: 10px;
}

.tile img {
  height: 112px;
}

/* Bottom form text*/
.bottom-form {
  width: 875px;
  margin-top: 40%;
  margin-bottom: 5%;
}

.bottom-form h3 {
  font-size: 42px;
  margin-bottom: 0px;
  color: #2B2B2B;
}

.bottom-form p {
  margin-top: 5px;
  color: #2B2B2B;
}

@media only screen and (max-width: 600px){
  body{
    overflow-x: hidden;
  }

  .top-right-content img{
    z-index: 1;
    overflow-x: hidden;
  }

  .top-left-content{
    z-index: 2;
    position: relative;
  }

  .bottom-form br{
    display: block;
    margin: 0px 0;
  }

  .middle-left-content img{
    position: absolute;
    margin-top: 4%;
  }

  #circle1, #circle2{
    background-color: #ff7500;
  }

  #circle1{
    margin-top: 13%;
  }

  #circle2{
    margin-top: -1%;
  }

  .middle-right-content{
    position: relative;
    color: #2B2B2B
  }

  .van img {
    width: 300px;
  }

  .map{
    margin-left: auto;
    margin-right: auto;
  }

  .map h3 {
    font-size: 20px;
  }

  .map p {
    margin-left: 21%;
  }

  .tour-dates {
    font-size: 14px;
  }

  .tile-intro{
    color: #2B2B2B;
  }

  .tile{
    background-color: #FFB16F;
  }

  .iglide, .drylin {
    margin-top: 10px;
  }

  .bottom-form{
    margin-bottom: 5%;
  }

  .bottom-form h3{
    font-size: 30px;
    margin-bottom: 0px;
    color: #2B2B2B;
  }

  .bottom-form p {
  margin-top: 5px;
  color: #2B2B2B;
  }
}

@media only screen and (max-width: 480px){

}

@media only screen and (max-width: 375px){
  body{
    width: 100%;
    max-width: 375px;
    margin-left: 0px;
  }

  /* Popular styles */
  .container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Background */
  .orangebg, .orangebg-2 {
    height: 400px;
    width: 100%;
  }
  .orangebg {
    top: 370px;
  }
  .orangebg-2 {
    top: 1540px;
  }

  /* Navigation */
  .nav {
    opacity: 0;
  }

  /* Intro section */
  .top-left-content {
    width: calc(100% - 10px);
    margin-left: 8px;
  }

  .top-right-content img {
    width: 570px;
    margin-top: -30px;
    display: none;
  }

  /* Styling forms */
  /* First form */
  .top-left-content .two-column {
    width: calc(100% - 20px);
  }

  .top-left-content .one-column {
    width: calc(100% - 20px);
  }

  .top-left-content input[type=submit] {
    width: 100%;
  }

  .top-left-content br{
    display: block;
    margin: 0px 0;
  }

  /* Second form */
  .bottom-form .one-column {
    width: calc(100% - 20px);
  }
  .bottom-form .two-column{
    width: calc(100% - 20px);
  }

  .bottom-form input[type=submit] {
    width: 100%;
  }

  /* Video styling */
  .middle-left-content {
    width: calc(100% - 10px);
    margin-top: 20%;
    margin-left: 8px;
  }

  .middle-left-content img {
    width: calc(100vw - 75px);
    left: 9%;
  }

  .middle-right-content .float-left {
    float: none;
  }

  #circle1, #circle2 {
    width: calc(100vw - 240px);
    height: calc(100vw - 220px);
    margin-left: 10px;
  }

  /* Video text styling */
  .middle-right-content {
    width: 330px;
    left: 2%;
    margin-top: 86%;
  }

  /* Van styling */
  .van {
    margin-top: -560px;
    margin-left: 40px;
  }

  /* Map styling */
  .map {
    width: 340px;
    height: 430px;
    margin-top: 45%;
  }

  .map img {
    width: 280px;
  }

  .tour-dates .middle-column {
    width: 0%;
  }

    /* Tile intro */
  .tile-intro {
    width: 340px;
    margin-left: 8px;
    margin-top: 145%;
  }

  /* Product tiles */
  .tiles {
    width: 355px;
    margin-left: 6px;
  }

  .tile {
    width: 145px;
    height: 220px;
  }

  .tile img{
    height: 80px;
  }

  .tile p{
    font-size: 12px;
    margin-bottom: 0px;
  }

  .tile h4{
    font-size: 14px;
    margin-top: 5px;
  }


    /* Bottom form */
  .bottom-form {
    width: 320px;
    margin-top: 135%;
    margin-left: 8px;
  }

}

@media only screen and (min-width: 376px) and (max-width: 495px) {
  body{
    overflow-x: hidden;
    width: 480px;
  }

  /* Background */
  .orangebg, .orangebg-2 {
    height: 400px;
    width: 480px;
  }

  .orangebg {
    top: 370px;
  }

  .orangebg-2 {
    top: 1460px;
  }

  /* Popular styles */
  .container {
    width: 480px;
  }

  /* Navigation */
  .nav .float-left {
    padding-left: 20px;
  }

  .nav {
    height: 30px;
    color: #FF7500;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    align-items: right;
    margin-left: 20%;
    opacity: 0;
  }

  /* Intro section */
  .top-right-content img {
    width: 570px;
    margin-top: -30px;
    z-index: 1;
    overflow-x: hidden;
    display: none;
  }

  .top-right-content {
    z-index: 1;
  }

  .top-left-content {
    width: 344px;
    position: relative;
    z-index: 99;
    margin-left: 1%;
  }

  /* Styling forms */
  /* First form */
  .bottom-form .one-column,
  .bottom-form .two-column,
  .top-left-content .one-column,
  .top-left-content .two-column {
    width: calc(100vw - 50px);
  }

  .top-left-content input[type=submit],
  .bottom-form input[type=submit] {
    width: calc(100vw - 40px);
  }

  .top-left-content br{
    display: block;
    margin: 0px 0;
  }

  /* Video styling */
  .middle-left-content {
    width: 480px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .middle-left-content img {
    width: 80vw;
    position: absolute;
    left: 7vw;
    margin-top: 4%;
  }

  .middle-right-content .float-left {
    float: none;
  }

  #circle1, #circle2 {
    background-color: #ff7500;
    width: 42vw;
    height: 42vw;
    padding-left: 5vw;
  }

  #circle1 {
    margin-top: 13%;
  }

  #circle2 {
    margin-top: -1%;
  }

  /* Video text styling */
  .middle-right-content {
    width: calc(100vw - 10vw);
    left: 2%;
    position: relative;
    color: #2B2B2B;
    margin-top: 79%;
  }

  .middle-right-content h3{
    font-size: 34px;
  }

  /* Van styling */
  .van {
    margin-top: -610px;
    margin-left: 20vw;
  }

  .van img {
    width: 300px;
  }

  /* Map styling */
  .map {
    width: 90vw;
    height: 470px;
    margin-top: 35%;
    margin-left: 1vw;
  }

  .map img {
    width: 350px;
  }

  .map h3 {
    font-size: 20px;
  }

  .map p {
    margin-left: 21%;
  }

  .tour-dates {
    font-size: 14px;
  }

  .tour-dates .middle-column {
    width: 5%;
  }

    /* Tile intro */
  .tile-intro {
    width: calc(100vw - 10vw);
    color: #2B2B2B;
    margin-left: 2%;
    margin-top: 110%;
  }

  /* Product tiles */
  .tiles {
    width: 480px;
    margin-left: 0%;
  }

  .tiles h4{
    margin-top: 5px;
  }

  .tile {
    width: calc(100vw - 60vw);
    background-color: #FFB16F;
  }

  .iglide, .drylin {
    margin-top: 10px;
  }

    /* Bottom form */
  .bottom-form {
    width: calc(100vw - 10vw);
    margin-top: 135%;
    margin-bottom: 5%;
    margin-left: 2%;
  }

  .bottom-form h3 {
    font-size: 30px;
    margin-bottom: 0px;
    color: #2B2B2B;
  }

  .bottom-form p {
    margin-top: 5px;
    color: #2B2B2B;
  }
}

@media only screen and (min-width:496px) and (max-width: 600px) {
  /* Background */
  .orangebg, .orangebg-2 {
    height: 280px;
  }

  .orangebg {
    top: 320px;
  }

  .orangebg-2 {
    top: 1280px;
  }

  .container{
    width: 100vw;
    overflow-x: hidden;
  }

  .nav{
    opacity: 0;
  }

  /* Intro section */
  .top-right-content img {
    width: 700px;
  }

  .top-left-content{
    width: 360px;
    margin-left: 2vw;
    top: -20px
  }

  .top-right-content{
    top: 10px;
  }

  .top-left-content h1{
    width: 344px;
  }

  /* Styling forms */
  /* First form */
  .top-left-content .two-column {
    width: 165px;
  }

  .top-left-content .one-column {
    width: 345px;
  }

  .top-left-content input[type=submit] {
    width: 355px;
  }

  /* Second form */
  .bottom-form .one-column {
    width: 440px;
  }

  .bottom-form .two-column{
    width: 440px;
  }

  .bottom-form input[type=submit] {
    width: 450px;
  }

  /* Video styling */
  .middle-left-content {
    width: 80vw;
    margin-top: 12vw;
    margin-left: auto;
    margin-right: auto;
  }

  .middle-left-content img {
    width: 70vw;
    margin-left: 6vw;
  }

  .middle-right-content .float-left {
    float: none;
  }

  #circle1, #circle2 {
    width: 35vw;
    height: 35vw;
  }

  /* Video text styling */
  .middle-right-content {
    width: 440px;
    left: 1%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #2B2B2B;
    margin-top: 360px;
  }
  /* Van styling */
  .van {
    position: absolute;
    margin-top: -590px;
    margin-left: 150px;
  }

  /* Map styling */
  .map {
    width: 400px;
    height: 470px;
    margin-top: 150px;
  }

  .map img {
    width: 350px;
  }

  .tour-dates .middle-column {
    width: 5%;
  }

  /* Tile intro */
  .tile-intro {
    width: 440px;
    margin-left: 2%;
    margin-top: 0%;
  }

  /* Product tiles */
  .tiles {
    width: 440px;
    top: 20px
  }

  /* Bottom form */
  .bottom-form {
  width: 440px;
  margin-top: 670px;
  }




}
